.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right:30px;
}
.logon-container section.form form{
    margin-top: 10px;
}
.logon-container section.form form h1{
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 32px;
}
