#modal{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    background: #444444a1;
}
#modal .box{
    justify-content: center;
    max-width: 300px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 30px;
    height: 100%;
    max-height: 200px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    

}

#modal .header{
    background-color: #2b3e76;
    padding: 11%;
    border-radius: 7px 7px 0px 0px;
    color: #fff;
    text-align: center;
}
#modal .header h2{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
#modal .actions{
    display: flex;
}

#modal button{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
    background-color: #4caf50;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#modal button:hover{
    opacity: 0.8;
}