.profile-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;

}
.profile-container header{
    display: flex;
    align-items: center;
}
.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}
.profile-container header img{
    height: 64px;
}
.profile-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border:1px solid #e52e6b;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}
.profile-container header button:hover{
    border-color: #999;
}

.profile-container h4{
 color: #FFF;
}
.profile-container h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
}
.profile-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    list-style: none;
    margin-top: 20px;
}
.profile-container ul li{
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    position: relative;
    height: 17vh;
}
.profile-container ul li:hover{
    color: #FFF;
    
    background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.profile-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: transparent;
}
.profile-container ul li button:hover{
    opacity: 0.8;
}
.profile-container ul li strong{
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;

}
.profile-container ul li p + strong{
    margin-top: 32px;
}
.profile-container ul li p{
    color: #f9f9f9;
    line-height: 21px;
    font-size: 16px;
}
.container-search{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;
    background-color: #f9f9f9;
    min-height: 80px;
    border-radius: 8px;
}

.container-search select{
    width: 10%;
    height: 60px;
    color:#444;
    border:1px solid #ffe5ee;
    border-radius: 4px;
    padding: 0 24px;
    margin: 5px 0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
}

.profile-container form .input-group{
    display:flex;
}

.register-container form .input-group input + button{
    margin-left: 8px;
}
.profile-container form{
    margin-top:15px;
}
body{
    background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media(max-width: 600px) {
.profile-container ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    list-style: none;
    margin-top: 20px;
}
}


